#top,
#bottom,
#left,
#right {
  background-color: #fff;
  position: fixed;
  transition: background-color 0.3s ease;
  z-index: 4;
}

.social_links #top,
.social_links #bottom,
.social_links #left,
.social_links #right {
  background-color: #c2b9e9;
  transition: background-color 0.3s ease;
}

.social_links a {
  color: #fff;
}

.contact_me #top,
.contact_me #bottom,
.contact_me #left,
.contact_me #right {
  background-color: #51689b;
  transition: background-color 0.3s ease;
}

.contact_me a {
  color: #fff;
}

.about_me #top,
.about_me #bottom,
.about_me #left,
.about_me #right {
  background-color: #f89f83;
  transition: background-color 0.3s ease;
}

.about_me a {
  color: #fff;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 40px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 40px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

.tabText {
  font-size: 18px;
  font-weight: 500;
  z-index: 4;
  color: #52689b;
  position: fixed;
  text-decoration: none;
  transition: color 0.1s ease;
  font-family: "Circular Medium";
}

.tabText:hover {
  color: #f6d0d0;
  transition: color 0.1s ease;
}

.work {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.contact {
  position: fixed;
  top: 50%;
  right: 8px;
  padding-right: 8px;
  transform-origin: 100% 0;
  transform: rotate(90deg) translate(50%, 0);
}

.about {
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-bottom: 8px;
}

.social {
  position: fixed;
  top: 50%;
  left: 10px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-50%, 0);
}

/* GO THROUGH ALL AND REWRITE FOR MOBILE STYLES....take off*/

@media (max-width: 450px) {
  .navContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    text-align: center;
    height: 60px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  }

  .activeTab {
    color: #f6d0d0 !important;
  }

  #top,
  #bottom,
  #left,
  #right {
    position: relative;
    text-align: center;
    width: 60%;
    background-color: transparent;
    margin: auto;
  }

  .tabText {
    font-size: 16px;
    font-weight: 500;
    z-index: 4;
    text-decoration: none;
    position: relative;
    transition: color 0.1s ease;
    font-family: "Circular Medium";
    text-align: center;
    justify-content: center;
  }

  .about_me a,
  .contact_me a,
  .social_links a,
  .work a {
    color: #32034d;
  }

  .tabText:hover {
    color: #f6d0d0;
    transition: color 0.1s ease;
  }

  .social_links #top,
  .social_links #bottom,
  .social_links #left,
  .social_links #right {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .contact_me #top,
  .contact_me #bottom,
  .contact_me #left,
  .contact_me #right {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .about_me #top,
  .about_me #bottom,
  .about_me #left,
  .about_me #right {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  .work .contact .about .social {
    text-align: center;
    transform-origin: none;
    transform: none;
  }

  .social {
    left: 0;
  }

  .contact {
    right: 0;
    padding-right: 0;
  }
}
