#top,
#bottom,
#left,
#right {
  background-color: #fff;
  position: fixed;
  transition: background-color 0.3s ease;
}

.social_links #top,
.social_links #bottom,
.social_links #left,
.social_links #right {
  background-color: #c2b9e9;
  transition: background-color 0.3s ease;
}

.contact_me #top,
.contact_me #bottom,
.contact_me #left,
.contact_me #right {
  background-color: #51689b;
  transition: background-color 0.3s ease;
}

.about_me #top,
.about_me #bottom,
.about_me #left,
.about_me #right {
  background-color: #f89f83;
  transition: background-color 0.3s ease;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 40px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 40px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

a {
  font-size: 18px;
  font-weight: 500;
  z-index: 4;
  color: #52689b;
  text-decoration: none;
  position: fixed;
  transition: color 0.1s ease;
}

a:hover {
  color: #f6d0d0;
  transition: color 0.1s ease;
}

.work {
  width: 100%;
  text-align: center;
  padding-top: 8px;
}
.contact {
  position: fixed;
  top: 50%;
  right: 8px;
  transform-origin: 100% 0;
  transform: rotate(90deg) translate(50%, 0);
}

.about {
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-bottom: 8px;
}

.social {
  position: fixed;
  top: 50%;
  left: 8px;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-50%, 0);
}

@media (min-width: 500px) {
  width: 100%;
}

/* below is placeholder for starting ot build mobile size hamburger menu

SHOULD I USE A BOTTOM TAB BAR?

  padding: 8px;
  z-index: 2;
  text-align: center;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  */
