.aboutme {
  background: #f89f83;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: background-color 0.3s ease;
}

.content {
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  height: 70vh;
  width: 40vw;
  padding: 32px;
  align-items: center;
  text-align: center;
  color: #f89f83;
}

.content div {
  border-radius: 4px;
  background: linear-gradient(
    345.06deg,
    #ffffff 10.29%,
    rgba(228, 237, 255, 0.9101) 93.15%
  );

  height: 90%;
  display: flex;
}

h3 {
  color: #f89f83;
}

.blurb1 {
  transform: translateX(-40%) rotate(-2deg);
}

.blurb2 {
  transform: translateX(20%) rotate(5deg);
}

.blurb3 {
  transform: translateX(-10%) rotate(-5deg);
}

@media (max-width: 450px) {
  .aboutme {
    margin: 0;
  }

  .content {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    height: 80vh;
    width: 100vw;
    padding: 16px;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #f89f83;
  }

  .blurb1 {
    transform: none;
  }

  .blurb2 {
    transform: none;
  }

  .blurb3 {
    transform: none;
  }

  h3 {
    font-size: 20px;
    padding: 32px;
  }
}
