.aboutme {
  background: #f89f83;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: background-color 0.3s ease;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
}

.content {
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  height: 70vh;
  width: 40vw;
  padding: 32px;
  align-items: center;
  text-align: center;
  color: #f89f83;
}

.content div {
  border-radius: 4px;
  background: linear-gradient(
    345.06deg,
    #ffffff 10.29%,
    rgba(228, 237, 255, 0.9101) 93.15%
  );

  height: 90%;
  display: flex;
  padding: 16px;
}

.content h3 {
  color: #32034d;
  opacity: 0.8;
  font-family: "Circular Regular";
  font-size: 24px;
}

.blurb1 {
  transform: translateX(-40%) rotate(-2deg);
}

.blurb2 {
  transform: translateX(20%) rotate(5deg);
}

.blurb3 {
  transform: translateX(-10%) rotate(-5deg);
}

.aboutme a {
  color: #a5a5a5;
}

.aboutme a:visited {
  color: #32034d;
}

@media (max-width: 850px) {
  .content h3 {
    font-size: 18px;
  }
  .aboutme {
    margin: 60px;
  }

  @media (max-width: 650px) {
    .content h3 {
      font-size: 16px;
    }

    .blurb1 {
      transform: translateX(-20%) rotate(-2deg);
    }

    .blurb2 {
      transform: translateX(20%) rotate(5deg);
    }

    .blurb3 {
      transform: translateX(-10%) rotate(-5deg);
    }

    .aboutme {
      margin: 60px;
    }
  }

  @media (max-width: 450px) {
    .aboutme {
      margin: 0;
    }

    .content {
      display: grid;
      grid-auto-rows: 1fr 1fr 1fr;
      height: 80vh;
      width: 100vw;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      color: #f89f83;
    }

    .content div {
      padding: 0;
    }

    .blurb1 {
      transform: none;
    }

    .blurb2 {
      transform: none;
    }

    .blurb3 {
      transform: none;
    }

    .content h3 {
      font-size: 18px;
      width: 90%;
    }
  }
}
