.contactMe {
  background: #51689b;
  color: #fff;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: background-color 0.3s ease;
}

input {
  background: none;
  border: none;
  font-size: 21px;
  outline: none;
}

.sign-up {
  display: flex;
  border-bottom: solid 2px #00b290;
  padding-bottom: 12px;
}

.email-input {
  /*this will tell our input to stretch out and fill the available space*/
  flex: 1;
}

.together {
  width: 50%;
  height: auto;
  font-size: 80px;
  font-family: "Circular Medium";
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

@media (max-width: 400px) {
  .contactMe {
    margin: 0px;
  }
}
