.contactMe {
  background: #51689b;
  color: #fff;
  z-index: 5;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: background-color 0.3s ease;
}

input {
  background: none;
  border: none;
  font-size: 21px;
  outline: none;
  color: #fff;
  width: 90%;
}

input::placeholder {
  color: white;
  opacity: 0.8; /* Firefox */
}

.textFields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.textFieldOutline {
  border: 2px solid white;
  border-radius: 8px;
  width: 90%;
  margin-bottom: 24px;
}

.note-input {
  height: 80px;
}

.textFields input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  padding: 12px;
  background-color: transparent;
}

form {
  width: 90%;
  margin: auto;
}

.together {
  width: 50%;
  top: 0;
  left: 0;
  padding: 32px;
  font-size: 44px;
  color: white;
  font-family: "Circular Medium";
  display: flex;
  align-items: center;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

/* how to style the submit button? */

.submit input {
  background-color: white;
  width: 60%;
  color: #51689b;
  border-radius: 20px;
}

@media (max-width: 850px) {
  .contactMe {
    margin: 60px;
    display: flex;
    flex-direction: column;
  }
  .textFields {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .contactMe {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }

  .together {
    top: 0;
    left: 0;
    padding: 16px 44px 32px 16px;
    font-size: 32px;
    color: white;
    font-family: "Circular Medium";
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    width: 80%;
  }
}
