.socialLinks {
  background-color: #c2b9e9;
  z-index: 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: fade-in 0.3s ease;
}

.block {
  background: #fff;
  color: #c2b9e9;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 1vh;
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

@media (max-width: 800px) {
  .block {
    color: #c2b9e9;
  }
}

@media (max-width: 450px) {
  .socialLinks {
    margin: 0;
  }

  .block {
    width: 80vw;
  }
}
