.socialLinks {
  background: #c2b9e9;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: background-color 0.3s ease;
}

.content {
  display: grid;
  grid-auto-rows: 1fr 1fr 1fr;
  height: 70vh;
  width: 40vw;
  padding: 32px;
  align-items: center;
  text-align: center;
  color: #c2b9e9;
}

.content div {
  border-radius: 4px;
  background: linear-gradient(
    345.06deg,
    #ffffff 10.29%,
    rgba(228, 237, 255, 0.9101) 93.15%
  );

  height: 90%;
  display: flex;
}

.socialLinks h3 {
  color: #32034d;
  font-family: "Circular Regular";
}

.instagram {
  transform: translateX(-40%) rotate(-2deg);
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.linkedin {
  transform: translateX(20%) rotate(5deg);
}

.github {
  transform: translateX(-10%) rotate(-5deg);
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

.socialLinks a {
  height: 90%;
  text-decoration: none;
}
@media (max-width: 800px) {
  .block {
    color: #c2b9e9;
  }
}

@media (max-width: 450px) {
  .socialLinks {
    margin: 0;
  }

  .content {
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    height: 80vh;
    width: 100vw;
    padding: 16px;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #f89f83;
  }

  .instagram {
    transform: none;
  }

  .github {
    transform: none;
  }

  .linkedin {
    transform: none;
  }

  h3 {
    font-size: 20px;
    padding: 32px;
  }
}
