.modal {
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
}

.socialLinks {
  z-index: 20;
  margin: 80px 80px 80px 80px;
  top: 50%;
  left: 50%;
  display: grid;
  background: #c2b9e9;
  transition: background-color 0.3s ease;
  position: fixed;
}

.block {
  background: #000;
  color: #fff;
}

.block h1 {
  color: #fff;
}

@media (max-width: 800px) {
  .block {
    color: #fff;
  }
}

@media (max-width: 400px) {
  .socialLinks {
    margin: 0;
  }
}
