.intro {
  font-size: 26px;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 2vh;
  color: #32034d;
  opacity: 0.8;
  line-height: 1.3;
  font-family: "Circular Regular";
}

@media (max-width: 800px) {
  .intro h1 {
    font-size: 18px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .intro h1 {
    font-size: 16px;
    width: 100%;
  }
}
