.projectCards {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.projectCards:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
}

.overlay {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: 0.3s ease-in;
}

.overlay:hover {
  opacity: 1;
  transition: 0.3s ease-in;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin: auto;
  color: #32034d;
}

p {
  font-size: 16px;
  text-align: center;
  color: #fbe5e0;
  margin: auto;
}

/* edit stuff below to put CSS grid onto site!!!

should the wrapper stuff around all the projects go here or in home?????

.case-studies {
  margin-left: 176px;
  padding-left: 5vh;
  margin-right: 5vh;
  margin-bottom: 10vh;
  display: grid;
  grid-gap: 5vh;
  z-index: 1;
}

@media (min-width: 800) {
  .case-studies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
  
}

@media (max-width: 550px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    padding: 8px;
    transition: all 0.5s ease;
    z-index: 10;
  }
  header .box {
    display: flex;
    width: 400px;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #ffffff;
    margin: auto;
    z-index: 2;
  }
  .case-studies {
    margin-left: 0;
    padding-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 10vh;
    display: grid;
    grid-gap: 5vh;
    z-index: 1;
  }
*/
