/*.ProjectWrapper {
  width: 100%;
  height: 100%;
  margin: 80px;
  z-index: 4;
  background: rgba(228, 237, 255, 0.77);
  position: fixed;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: auto;
  max-width: 100%;
}*/

.projectWrapper {
  background: #fff;
  color: #51689b;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 80px;
  transition: background-color 0.3s ease;
}

.blurbContainer {
  width: 90%;
  margin: 16px auto;
  display: flex;
  align-items: center;
}

.reversedBlurbLayout {
  display: flex;
  width: 90%;
  flex-direction: row-reverse;
  margin: 16px auto;
  align-items: center;
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

.blurbImage {
  width: 50%;
  text-align: center;
}

.blurbText {
  width: 50%;
}

.image {
  max-height: 300px;
}

.intro {
  margin: 32px auto;
}

.intro p {
  margin: 12px auto;
}

@media (min-width: 400px) {
  .ProjectWrapper {
    margin: 0;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
