.ProjectWrapper {
  width: 100%;
  height: 100%;
  margin: 40px;
  background: rgba(228, 237, 255, 0.77);
  position: fixed;
  display: flex;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: auto;
  max-width: 100%;
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

/* start styling the blurbs */
.blurbs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

@media (min-width: 400px) {
  .ProjectWrapper {
    margin: 0;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
