body {
  background-image: url("../assets/backgroundGradient.svg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Circular Regular", sans-serif;
}

.app_container {
  padding: 80px;
}

.wrapper {
  background-color: grey;
}

@media (max-width: 450px) {
  .app_container {
    padding: 32px;
  }
}
