body {
  background-image: url("../assets/backgroundGradient.svg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Circular Regular", sans-serif;
}

.app_container {
  padding: 80px;
}
